<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ATM-BANK/com/group2/router/Router.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.group2.router.Router"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ATM-BANK"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DbuildExtData=true"/>
</launchConfiguration>
